:root {
  --color-primary-text: #2e2f42;
  --color-secondary-text: #434455;
  --color-white: #ffffff;
  --color-accent: #4d5ae5;

  --font-family: "Roboto", sans-serif;
  --font-web: "Raleway", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-primary-text);
  background-color: var(--color-white);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team,
.customers,
.benefits,
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* --- HEADER --- */

.header {
  position: relative;
  background: var(--color-white);
  border-bottom: 1px solid #e7e9fc;
  width: 100%;
  top: 0;
  left: 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary-text);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav {
  display: none;
}

.header-logo > span {
  display: flex;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: calc (21 / 18);
  align-items: center;
  text-transform: uppercase;
  color: var(--color-accent);
  flex: none;
}

.header-adress {
  display: none;
}

.burger-button {
  display: inline-flex;
  width: 32px;
  height: 22px;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .header-block {
    display: flex;
    align-items: center;
  }

  .header-nav {
    display: flex;
  }

  .header-logo {
    margin-right: 120px;
  }

  .header-nav .header-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 22px;
  }

  .header-nav .item:not(:last-child) {
    margin-right: 40px;
  }

  .menu-container,
  .burger-button {
    display: none;
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: var(--color-primary-text);
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-adress {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 24px;
    padding-bottom: 10px;
  }

  .header-contact {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color: var(--color-primary-text);
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-adress .item:not(:last-child) {
    margin-bottom: 4px;
  }

  .header-link:hover {
    color: var(--color-secondary-text);
  }

  .header-link:focus {
    color: var(--color-secondary-text);
  }

  .header-link:active {
    color: var(--color-accent);
  }

  .item-studio > .header-link {
    color: var(--color-accent);
  }

  .item-portfolio > .header-link {
    color: var(--color-accent);
  }

  .header-contact:hover {
    color: var(--color-accent);
  }

  .header-contact:focus {
    color: var(--color-accent);
  }

  .header-contact:hover {
    color: var(--color-accent);
  }

  .header-contact:focus {
    color: var(--color-accent);
  }

  .item {
    position: relative;
  }

  .item-studio::after {
    content: "";
    position: absolute;
    bottom: -2;
    width: 100%;
    height: 4px;
    background: #4d5ae5;
    border-radius: 2px;
  }

  .item-portfolio::after {
    content: "";
    position: absolute;
    bottom: -2;
    width: 100%;
    height: 4px;
    background: #4d5ae5;
    border-radius: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 76px;
  }

  .header-nav .header-link {
    padding-bottom: 28px;
  }

  .header-logo > span {
    line-height: calc (24 / 18);
  }

  .header-adress {
    flex-direction: row;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .header-adress .header-contact {
    padding-bottom: 24px;
  }

  .header-adress .item + .item {
    margin-left: 40px;
  }

  .header-adress .item {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-contact {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: var(--color-secondary-text);
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-adress .item:not(:last-child) {
    margin-bottom: 0px;
  }

  .item-studio::after {
    bottom: 0;
  }

  .item-portfolio::after {
    bottom: 0;
  }
}

/* ---ORDER--- */

.order {
  background: var(--color-primary-text);
  position: relative;
  padding-top: 112px;
  padding-bottom: 112px;
  margin: 0 auto;
}

.order-background {
  max-width: 1440px;
  margin: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background/Dark-bghero-mob@1x.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .order-background {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background/Dark-bghero-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .order-background {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/Dark-bghero-tab@1x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .order-background {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/Dark-bghero-tab@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .order-background {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/people-office\ 1hero-desk@1x.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .order-background {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/background/people-office\ 1hero-desk@2x.jpg");
  }
}

.order-title {
  font-weight: 700;
  font-size: 31px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 72px;
}

.order-button {
  display: flex;
  width: 170px;
  padding: 16px 32px;
  margin: 0 auto;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;

  color: var(--color-white);
  background: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover {
  background: #404bbf;
}

.order-button:focus {
  background: #404bbf;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;

  width: calc(100% - 30px);
  height: 600px; 
  max-height: 90vh;
  padding: 72px 16px 24px 16px;

  transform: translate(-50%, -50%) perspective(1000px) scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow-y: scroll;
}

@media screen and (min-width: 338px) {
  .order-title {
    font-size: 36px;
  } 
}

@media screen and (min-width: 392px) {
  .modal-window {
    max-width: 392px;
}
}

@media screen and (min-width: 768px) {
  .order {
    padding-top: 111px;
    padding-bottom: 108px;
  }

  .modal-window {
    max-width: 408px;
    padding: 75px 25px 24px 23px;
  }
}

@media screen and (min-width: 1200px) {
  .order {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .modal-window {
    padding: 72px 24px 24px 24px;
  }

  .order-title {
    font-weight: 700;
    font-size: 56px;
    line-height: calc(60 / 56);
    margin-bottom: 48px;
  }
}

.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition-property: fill background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover {
  fill: #ffffff;
  background: #404bbf;
}

.order-form {
  display: flex;
  flex-direction: column;
}

.order-form:focus-within > .order-form-icon {
  fill: var(--color-accent);
}

.order-form-field {
  position: relative;
  display: flex;
}

.order-form-field:not(:last-child) {
  margin-bottom: 26px;
}

.order-form-title {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-primary-text);
  margin-bottom: 34px;
}

.order-form-label {
  position: absolute;
  top: -50%;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.order-label-textarea {
  position: absolute;
  top: -20px;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.order-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background: transparent;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-input:focus {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  outline: none;
}

.order-form-input:focus + .order-form-icon {
  fill: var(--color-accent);
}

.title-textarea {
  position: relative;
  top: -50%;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.order-form-textarea {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-textarea:focus {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  outline: none;
}

.order-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: inline-block;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.order-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.click {
  opacity: 0;
  background: #404bbf;
  border: 1.25px solid #404bbf;
  border-radius: 2px;
}

.no-click {
  opacity: 0;
}

.order-checkbox-checked {
  border: 1.25px solid #2e2f42;
  border-radius: 2px;

  transition-property: background opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-checkbox:checked ~ .order-checkbox-checked {
  background: #404bbf;
  border: 1.25px solid #404bbf;
  border-radius: 2px;
}

.order-checkbox:checked ~ .order-checkbox-checked > .click {
  opacity: 1;
}
.order-checkbox:checked ~ .order-checkbox-checked > .no-click {
  opacity: 0;
}

.checkbox-link {
  color: var(--color-accent);
}

.checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: #757575;
  padding-left: 8px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.order-checkbox:checked + .checkbox-icon {
  background-color: #404bbf;
  border: 1.25px solid #404bbf;
  border-radius: 2px;
  background-image: url(/images/checkmark.svg);
  background-size: contain;
  background-origin: border-box;
}

.order-form-button {
  display: block;
  margin: 0 auto;
  width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  color: var(--color-white);
  background: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  margin-top: 24px;
  padding: 16px 32px;
  gap: 10px;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-button:hover,
.order-form-button:focus {
  background: #404bbf;
}

/* --- BENEFITS --- */

.benefits-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  color: var(--color-primary-text);
  margin-bottom: 8px;
  text-align: center;
}

.benefits-list {
  list-style: none;
}

.benefits-icon-item:not(:last-child) {
  margin-bottom: 72px;
}

.benefits-icon-block {
  display: none;
}

.benefits-decription {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 24px) / 2);
    column-gap: 24px;
    row-gap: 72px;
  }

  .benefits-title {
    text-align: left;
  }

  .benefits-decription {
    width: 356px;
  }

  .benefits-icon-item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .benefits {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .benefits-title {
    font-size: 20px;
    line-height: calc(24 / 20);
  }

  .benefits-list {
    list-style: none;
    display: flex;
  }

  .benefits-list:not(:last-child) {
    margin-right: 24px;
  }

  .benefits-icon-block {
    display: block;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    padding-top: 24px;
    padding-left: 100px;
  }

  .benefits-decription {
    width: 264px;
    font-weight: 400;
  }
}

/* --- WORK ---- */

.work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-bottom: 120px;
  }

  .work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-primary-text);
    margin-bottom: 72px;
  }

  .work-list {
    list-style: none;
    display: flex;
  }

  .work-list .item:not(:last-child) {
    margin-right: 24px;
  }
}

/* --- TEAM ---- */

.team {
  background: #f4f4fd;
  margin: 0 auto;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-primary-text);
  padding-bottom: 72px;
}

.team-list {
  list-style: none;
}

.team-list .item:not(:last-child) {
  margin-bottom: 72px;
}

.team-avatar {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.team-member-block {
  background: var(--color-white);
  width: 264px;
  margin: auto;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-text-block {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-primary-text);
  flex: none;
  margin-bottom: 8px;
}

.team-job {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
  margin-bottom: 8px;
}

.team-soc {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.team-soc-item {
  background-color: var(--color-accent);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  background-color: var(--color-accent);
  align-items: center;
  justify-content: center;
}

.team-soc-item:not(:last-child) {
  margin-right: 24px;
}

@media screen and (min-width: 768px) {
  .team {
    padding-bottom: 104px;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
  }

  .team-list .item:nth-child(2n + 1) {
    margin-right: 24px;
  }

  .team-list .item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    display: flex;
    justify-content: center;
    row-gap: 0px;
  }

  .team-list .item:nth-child(2n + 1) {
    margin-right: 0px;
  }

  .team-list .item:not(:last-child) {
    margin-right: 24px;
  }
}

/* CUSTOMERS */

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  padding-bottom: 72px;
}

.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: calc((100% - 16px) / 2);
  column-gap: 16px;
  row-gap: 72px;
}

.customers-link-list {
  display: block;
  width: 190px;
  height: 88px;
  color: #8e8f99;
  border: 1px solid #8e8f99;

  border-radius: 4px;
  object-fit: contain;
  object-position: center;
  padding-top: 16px;
  padding-left: 32px;

  transition-property: color border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: currentColor;
}

.customers-link-list:hover {
  color: #4d5ae5;
  border: 1px solid #4d5ae5;
}

.customers-link-list:focus {
  color: #4d5ae5;
  border: 1px solid #4d5ae5;
}

@media screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }

  .customers-link-list {
    width: 168px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 0px;
  }

  .customers-list-item {
    flex-basis: calc((100% - (2 - 1) * 16)) / 2;
  }

  .customers-list-item:not(:last-child) {
    margin-right: 24px;
  }
}

/* --- FOOTER --- */
.footer {
  background: var(--color-primary-text);
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
}

.footer-main {
  margin-bottom: 72px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  display: flex;
  justify-content: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 16px;
}

.footer-logo > span {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-accent);
}

.footer-abstract {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #e7e9fc;
  box-sizing: border-box;
  max-width: 268px;
  text-align: center;
  margin: auto;
}

.footer-soc {
  margin-bottom: 72px;
}

.footer-soc-title {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-soc-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.footer-soc-item {
  background: var(--color-secondary-text);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover {
  background: #31d0aa;
}

.footer-soc-link:focus {
  background: #31d0aa;
}

.footer-soc-item:not(:last-child):not(:last-child) {
  margin-right: 16px;
}

.footer-form {
  display: block;
  align-items: center;
  justify-content: center;
}

.footer-subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
  text-align: center;
}

.footer-subscribe-input {
  display: block;
  justify-content: center;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  color: var(--color-white);
  padding-left: 16px;
  outline: none;
  margin-bottom: 16px;
}

.footer-subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(24 / 12);
}

.footer-subscribe-button {
  display: block;
  position: relative;
  height: 40px;
  padding: 8px 64px 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  margin: 0 auto;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button-icon {
  position: absolute;
  top: 8px;
  right: 24px;
  fill: var(--color-white);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  .footer {
    justify-content: left;
  }

  .footer-tablet {
    display: flex;
  }

  .footer-box {
    margin-left: auto;
    padding-left: 100px;
  }

  .footer-main {
    margin-right: 24px;
  }

  .footer-logo {
    justify-content: left;
  }

  .footer-abstract {
    text-align: left;
  }

  .footer-soc-title {
    text-align: left;
  }

  .footer-soc-list {
    justify-content: left;
  }

  .footer-subscribe-title {
    text-align: left;
  }

  .footer-subscribe {
    display: flex;
  }

  .footer-subscribe-button {
    margin-left: 0;
  }

  .footer-subscribe-input {
    width: 264px;
    margin-right: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-box {
    display: flex;
    padding-left: 15px;
  }

  .footer-main {
    margin-right: 120px;
    margin-bottom: 0px;
  }

  .footer-soc {
    margin-right: 80px;
    margin-bottom: 0px;
  }
}

/* ---MOBILE MENU---- */

.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 32px;
  background-color: var(--color-white);
  z-index: 88;
  padding: 40px;
  padding-top: 80px;

  transform: translatex(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.menu-close {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition-property: fill background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close:hover {
  fill: #ffffff;
  background: #404bbf;
}

.menu-list {
  margin-bottom: auto;
}

.menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  color: var(--color-primary-text);
}

.menu-link.accent {
color: var(--color-accent);
}

.menu-link:focus,
.menu-link:hover {
  color: var(--color-accent);
}

.menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.menu-adress {
  margin-bottom: 48px;
}

.menu-contact {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
  text-decoration: none;
}

.menu-contact.accent {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(40 / 24);
  color: var(--color-accent);
}

@media screen and (min-width: 360px) {
.menu-contact.accent {
  font-size: 29px;
  line-height: calc(40 / 29);
}
}

.menu-soc {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.menu-soc-item {
  background-color: var(--color-accent);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.menu-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  background-color: var(--color-accent);
  align-items: center;
  justify-content: center;
}

.menu-soc-item:not(:last-child) {
  margin-right: 34px;
}

@media screen and (min-width: 400px) {
  .menu-soc-item:not(:last-child) {
    margin-right: 56px;
  }
}